
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="alert alert-warning">Kategori Sayısı = @ViewBag.categoryCount</div>
<div class="alert alert-danger">Proje Sayısı = @ViewBag.categoryCount</div>
<div class="alert alert-success">Skill Sayısı = @ViewBag.skillCount</div>
<div class="alert alert-info">Proje Sayısı = @ViewBag.skillValueAvg</div>
<div class="alert alert-primary">Son eklenen yetenek = @ViewBag.LastAddedSkill</div>
<div class="alert alert-secondary">Id'si 1 olanların toplamı= @ViewBag.mvcProjectCount</div>




