@model AcunMedyaAkademiPortfolio.Models.TblSkill
@{
    ViewBag.Title = "UpdateSkill";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3>Yetenek Güncelleme</h3>

<form method="POST">

    <label>Yetenek Id</label>
    <input type="text" class="form-control" name="Skillid" value="@Model.SkillId" />


    <label>Yetenek Adı</label>
    <input type="text" class="form-control" name="Title" value="@Model.Title" />

    <label>Yetenek Değeri</label>
    <input type="text" class="form-control" name="Value" value="@Model.Value    " />

    <label>Geçen Haftalık Değeri</label>
    <input type="text" class="form-control" name="LastWeekValue" value="@Model.LastWeekValue" />
    <label>Geçen Aylık Değeri</label>
    <input type="text" class="form-control" name="LastMonthValue" value="@Model.LastMonthValue" />

    <button class="btn btn-info mt-4">Kaydet</button>
</form>



